.tree-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: hidden;
    will-change: height;
}

.tree-list-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tree-list-item__list {
    overflow: hidden;
}

.tree-list-item[data-collapsed='true'] > .tree-list-item__list {
    transform: translateY(-100%);
    opacity: 0;
}

.tree-list-item[data-collapsed='false'] > .tree-list-item__list {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
}

.tree-list-item[data-collapsed='true'] > .tree-list-item__list > .tree-list {
    height: 0;
}

.tree-list-item[data-collapsed='false'] > .tree-list-item__list > .tree-list {
    height: auto;
}

.tree-list-item[data-collapsed='false'] > .tree-list-item__container .tree-list-item__content .tree-item-icon-container {
    transform: rotate(90deg);
}

.tree-list-item__container {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 4px 8px;
    background: #eee;
    border-radius: 4px;
}

.tree-list-item__content {
    display: flex;
    gap: 8px;
    flex: 1;
}

.tree-item-spacer {
    width: calc((var(--spacer-amount, 0) * var(--spacer-size, 10)) * 1px);
    flex-shrink: 0;
}

.tree-item-icon-container {
    transition: transform .15s ease-in-out;
    transform-origin: center;
    display: flex;
    align-items: center;
    will-change: transform;
    min-width: 1em;
}