.tree-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    will-change: height;
}

.tree-list-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tree-list-item__list {
    overflow: hidden;
}

.tree-list-item[data-collapsed='true'] > .tree-list-item__list {
    transform: translateY(-100%);
    opacity: 0;
}

.tree-list-item[data-collapsed='false'] > .tree-list-item__list {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.tree-list-item[data-collapsed='true'] > .tree-list-item__list > .tree-list {
    height: 0;
}

.tree-list-item[data-collapsed='false'] > .tree-list-item__list > .tree-list {
    height: auto;
}

.tree-list-item[data-collapsed='false'] > .tree-list-item__container .tree-list-item__content .tree-item-list-toggle .tree-item-icon {
    transform: rotate(90deg);
}

.tree-list-item__container {
    position: relative;
    z-index: 1;
    display: flex;
}

.tree-list-item__content {
    display: flex;
    flex: 1;
}

.tree-list-item__component {
    flex: 1;
}

.tree-item-spacer {
    width: calc((var(--spacer-amount, 0) * var(--spacer-size, 14)) * 1px);
    flex-shrink: 0;
}

.tree-item-list-toggle {
    display: grid;
    place-items: center;
    cursor: default !important;
}

.tree-item-icon {
    display: grid;
    place-items: center;
    transition: transform .15s ease-in-out;
    transform-origin: center;
    will-change: transform;
    min-width: 1em;
    min-height: 1em;
}